.head__logo {
    font-family: "Lora";
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #050505;
}

.head-menu__link {
    font-family: "Oxygen";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #050505;
}

.top-block__title {
    font-family: "Lora";
    font-size: 50px;
    font-weight: 400;
    line-height: 51px;
    text-align: center;
    color: #100f0f;
}

.top-block__subtitle {
    font-family: "Oxygen";
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #100f0f;
}

.post__paragraph {
    height: 1431px;
    width: 960px;
    left: 240px;
    top: 140px;
    border-radius: undefinedpx;
}

.foot__logo {
    font-family: "Lora";
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #100f0f;
}

.foot-menu__link {
    font-family: "Oxygen";
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    text-align: right;
    color: #100f0f;
}