* {
    font-size: 20px;
}

.top-block {
    background: #000000 url('../images/top-block-background.jpg');
    background-repeat: no-repeat;
    background-size: 500px 400px;
}

.top-block__text
{
    font-size: 17px;
    font-family: 'Oxygen';
    line-height: 1.18;
    color: rgba(255, 255, 255, 0.63)
}