.page
{
  margin: 0px;
  width: 100%;
}

.head
{
    background-image: url(../images/canyon.jpg);
    background-repeat: no-repeat;
    background-size: 100% 500px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.head__info
{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    height: 40px;
    margin-top: 17px;
    margin-left: 270px;
    margin-right: 250px;
    flex: 0 0 auto;
}

.head__info-logo
{
    color: #FFFFFF;
    font: 400 26px "Lora";
}

.head__info-menu
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 38%;
    align-items: flex-end;
}

.head__info-menu-link
{
    font-family: 'Oxygen';
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
}

.top-block
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}

.top-block__title
{
    font: 400 50px/1.02 'Lora';
    line-height: 51px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
}

.top-block__subtitle
{
    font: 400 17px/1.18 'Oxygen';
    font-style: normal;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.63);
    text-align: center;
    margin-bottom: 43px;
}

.top-block__button
{   
    background: #DD783F;
    border-radius: 3px;
    border: none;
    color: #FFFFFF;
    padding: 12px 31px;
    font: 400 13px/1.54 'Oxygen';
}

.submenu
{
    background: #FFFFFF;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 65px;
    align-items: center;
    margin-right: 240px;
    margin-left: 240px;
}

.submenu__link
{
    font: 400 14px/1.48 'Lora';
    text-decoration: none;
    font-style: normal;
    line-height: 20px;
    color: #768088;
}


.main
{
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-posts
{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-left: 270px;
   margin-right: 270px;
   padding-top: 60px;
   gap: 43px;
}

.featured-posts__title
{
    font: 400 20px/1.35 "Oxygen";
    font-style: normal;
    letter-spacing: 2px;
    color: #2e2e2e;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #DEDEDE;
    text-underline-offset: 16px;
    align-self: center; 
    padding: 0px 0px 0px 0px;  
    margin: 0; 
}

.featured-posts__content
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.featured-post
{
    height: 280px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.featured-post_northbright
{
    background: url("../images/northbroght.png");
    background-repeat: no-repeat;
    height: 280px;
    width: 460px;
}

.featured-post__title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0px 220px 0px 20px;
    margin-bottom: 8px;
}

.featured-post__description
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
    padding: 0px 100px 0px 20px;
    margin-bottom: 12px;
}

.featured-post__from-top-down
{
    background: url("../images/chineselights.png");
    background-repeat: no-repeat;
    height: 280px;
    width: 460px;
}

.featured-post__info
{
    display: flex;
    align-items: flex-end;
    justify-content:space-between;
    padding: 0px 10px 20px 20px;
}

.featured-post__info
{
    display: flex;
    flex-direction: row;
}

.info__author-image
{
    height: 26px;
    width: 26px;
    margin-right: 10px;
    border-radius: 60px;
}

.info__author-name
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.info__author-date
{
    width: 108px;
    height: 35px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
}

.most-recent-posts
{
    background-color: #F7F7F7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 252px;
    margin-right: 252px;
    margin-bottom: 180px;
    padding-top: 60px;
    row-gap: 40px;
}

.most-recent-posts__title
{    
    font: 400 20px/1.35 "Oxygen";
    font-style: normal;
    letter-spacing: 2px;
    color: #2e2e2e;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #DEDEDE;
    text-underline-offset: 16px;
    align-self: center; 
    line-height: 27px;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0;
}

.most-recent-posts__section
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 24px;
    justify-content: center;
}

.most-recent-post
{
    background-color: #FFFFFF;
    width: 296px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.most-recent-post__picture
{
    height: 150px;
    width: 296px;
    background-color:#D6D6D6;
    border-radius: 0px;
    display: flex;
}

.most-recent-post__description
{
    height: 93px;
    display: flex;
    flex-direction: column;
    padding-top: 14px;
    padding-left: 13px;
    gap: 5px;
}

.most-recent__theme
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
    padding-left: 13px;
    width: 296px;
}

.description__subtitle
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
    width: 278px;
}

.most-recent-post__info
{
    background-color: #FFFFFF;
    border-top: 1px solid #EFEFEF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 0px 13px 7px 13px;
    width: 270px;
    background: #FCFCFC;
}

.most-recent-post__avatar
{
    height: 26px;
    width: 26px;
    border-radius: 60px;
    background: none;
}

.most-recent-post__name
{ 
    background-color: none;
    width: 60%;
    border-radius: 3px;
    margin-left: 10px;
    text-decoration: none;
    height: 35px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    color: #999999;

}

.most-recent-post__date
{
    background-color: none;
    width: 58px;
    border-radius: 3px;
    height: 35px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: #999999;
    display: flex;
    flex-direction: row-reverse;
}

.footer
{
    width: 100%;
    height: 89px;
    background: rgba(35, 47, 56, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
    border-top: 1px solid rgba(255, 255, 255, 0.12);;
}

.footer__logo
{
    font-family: 'Lora';
    font-size: 26px;
    line-height: 26px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0px 0px 0px 250px;
}

.footer-nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    margin: 0px 250px 0px 0px;
}

.footer-nav__link
{
    height: 26px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.basement
{
    background-image: url(../images/footer2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 378px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.basement__contact-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    gap: 20px;
}

.contact-form__button
{
    display: flex;
    flex-direction: row;
    height: 51px;
}


.contact-form__call-to-action
{
    font-style: normal;;
    line-height: 30px;
    font: 400 25px/1.2 'Oxygen';
    color: #EFEFEF;
    border-bottom: 1px solid #DEDEDE;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 17px 0;
    margin: 0;
}

.contact-form__email
{
    width: 370px;
    background: #FFFFFF;
    border-radius: 3px 0px 0px 3px;
    border: none;
    padding-left: 35px;;
}

.email::placeholder {
    color: #817F83;
    font: 400 12px 'Roboto' #817F83;
    padding: 18px 208px 18px 35px;
    border: none;
  }


.contact-form__send-email
{
    width: 125px;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 0px 3px 3px 0px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #F8F8F8;
}

.header-block-article
{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    padding: 20px 0px 0px 250px;
    background: #FFFFFF;
}
