<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lora&family=Oxygen&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="/static/css/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lora&family=Oxygen&family=Roboto&display=swap" rel="stylesheet">
</head>

<body class="page">

  <header class="head">
    <div class="head__info">
      <span class="head__info-logo">Escape.</span>
      <div class="head__info-menu">
        <a title="Home Page" href="#" class="head__info-menu-link">HOME</a>
        <a title="Categories of posts" href="#" class="head__info-menu-link">CATEGORIES</a>
        <a title="About us" href="#" class="head__info-menu-link">ABOUT</a>
        <a title="Our contact" href="#" class="head__info-menu-link">CONTACT</a>
      </div>
    </div>
    <div class="top-block">
      <h1 class="top-block__title">{{ .Title }}</h1>
      <p class="top-block__subtitle">{{ .Subtitle }}</p>
      <button class="top-block__button">View Latest Posts</button>
    </div>
  </header>

  <nav class="submenu">
    <a href="#" class="submenu__link" href="https://www.google.com/">Nature</a>
    <a href="#" class="submenu__link" href="https://www.google.com/">Photogpaphy</a>
    <a href="#" class="submenu__link" href="https://www.google.com/">Relaxation</a>
    <a href="#" class="submenu__link" href="https://www.google.com/">Vacation</a>
    <a href="#" class="submenu__link" href="https://www.google.com/">Travel</a>
    <a href="#" class="submenu__link" href="https://www.google.com/">Adventure</a>
  </nav>

  <div class="main">
    <div class="featured-posts">
      <h2 class="featured-posts__title">Featured Posts</h2>
      <div class="featured-posts__content">
        {{ range .FeaturedPosts }}
        <div class="featured-post {{ .ImageUrlFP }}">
          <span><a class="featured-post__title" href="/post/{{ .PostID }}">{{ .Title }}</a></span>
          <span class="featured-post__description">{{ .Subtitle }}</span>
          <div class="featured-post__info">
            <div class="featured-post__author-info">
              <img class="author-info__avatar-featured-post" src="{{ .AuthorImg }}" alt="{{ .Author }}">
              <a class="author-info__name-featured-post" href="https://www.google.com/">{{ .Author }}</a>
            </div>
            <span class="featured-post__date">{{ .PublishData }}</span>
          </div>
        </div>
        {{ end }}
      </div>
    </div>

      <div class="most-recent-posts">
        <h2 class="most-recent-posts__title">Most Recent</h2>
        <div class="most-recent-posts__section">
          {{ range .MostRecentPosts }}
          <div class="most-recent-post">
            <img class="most-recent-post__picture" src="{{ .ImageUrlMr }}" alt="{{ .Title }}">
            <div class="most-recent-post__description description">
              <span><a class="description__title" href="/post/{{ .PostID }}">{{ .Title }}</a></span>
              <span class="description__subtitle">{{ .Subtitle }}</span>
            </div>
            <div class="most-recent-post__info">
              <img class="most-recent-post__avatar" src="{{ .AuthorImg }}" width="24" height="24" alt="{{ .Author }}">
              <a class="most-recent-post__name" href="https://www.google.com/">{{ .Author }}</a>
              <span class="most-recent-post__date">{{ .PublishData }}</span>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>

    <div class="basement">
      <div class="basement__contact-form contact-form">
        <h2 class="contact-form__call-to-action">Stay in Touch</h2>
        <form class="contact-form__button" action="#">
          <input class="contact-form__email" type="email" name="email" placeholder="Enter your email address">
          <input class="contact-form__send-email" type="submit" value="Submit">
        </form>
      </div>
      <footer class="footer">
        <span class="footer__logo">Escape.</span>
        <nav class="footer-nav">
          <a class="footer-nav__link" href="https://www.google.com/">HOME</a>
          <a class="footer-nav__link" href="https://www.google.com/">CATEGORIES</a>
          <a class="footer-nav__link" href="https://www.google.com/">ABOUT US</a>
          <a class="footer-nav__link" href="https://www.google.com/">CONTACT</a>
        </nav>
      </footer>
    </div>
</body>

</html>